@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Oswald:wght@100..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: 'MartinDisplayBold';
  src: url('../assets/fonts/VTCMartinDisplay-XBold.woff2') format('woff2'),
}

@font-face {
  font-family: 'MartinDisplayBoldForward';
  src: url('../assets/fonts/VTCMartinDisplay-XBoldForward.woff2') format('woff2'),
}

:root {
  --Anton: "Anton", sans-serif;
  --Antonio: "Antonio", sans-serif;
  --Bodoni:"Lato", sans-serif;
  --Oswald: "Oswald", sans-serif;
  --Background: rgba(170, 138, 82, 0.95);
  --Background-Alt: rgba(216, 182, 125, 0.95);
  --Background-Blue: rgba(100, 155, 146, 0.9);
  --Background-Blue-Alt: rgba(141, 211, 199, 0.9);
  --Background-Blue-Dark: rgba(72, 120, 112, 0.9);
  --Maroon: #730900;
  --Dark-Brown: #402e32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: var(--Anton)
}

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

/* End temp code */

.link {
    font-family: var(--Anton);
    color: var(--Dark-Brown);
    font-weight: 500;
    font-size: .85rem;
    transition: color .3s;
    letter-spacing: .05rem;
}

.link:hover {
    color: var(--Maroon);
}

/*Custom Scrollbar*/

::-webkit-scrollbar {
  width: .15rem;
}
  
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5rem;
}

/*End Custom Scrollbar*/

/*Navbar*/

.navbar {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(var(--Background), var(--Background-Alt));
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.3);
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
}

.logo-title img {
    height: 2.3rem;
    -webkit-filter: drop-shadow(.5rem .5rem .5rem #000);
    filter: drop-shadow(.5rem .5rem .5rem #000);
    margin-right: 1.5rem;
    transition: transform 0.3s;
}

.logo-title img:hover {
    transform: translateY(-0.06rem);
}

.navbar p {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.35rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    letter-spacing: .05rem;
    cursor: default;
    font-family: 'MartinDisplayBold', Fallback, sans-serif;
}

.navbar span {
    font-weight: 200;
    font-size: 1.9rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    font-family: var(--Antonio);
    padding-left: .7rem;
}

.nav-items {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 3rem;
}

.nav-item {
    transition: all 0.3s;
}

.nav-item:hover {
    transform: translateY(-0.09rem);
}

.nav-link {
    font-family: var(--Bodoni);
    color: var(--Dark-Brown);
    font-weight: 500;
    font-size: 1.1rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: color 0.3s;
}

/*End Navbar*/

/*Side Panel Buttons Container*/

.left-panel-btn-container {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 6rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-panel-btn-container {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 6rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Zoom In / Out Button*/

.zoom-in-btn,
.zoom-out-btn {
    /* position: absolute; */
    bottom: 4rem;
    right: 4rem;
    z-index: 2
}

.zoom-in-btn,
.zoom-out-btn {
    cursor: pointer;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 2rem;
    left:2rem; */
    height:2.5rem;
    width:2.5rem;
    border-radius: 50%;
    background-color: var(--Background-Blue);
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.6);
    transition: all .3s;
    z-index: 2;
}

.zoom-in-btn i,
.zoom-out-btn i {
    font-size: 1.3rem;
    color: #fff;
}

.zoom-in-btn:hover,
.zoom-out-btn:hover {
    background-color: var(--Dark-Brown) !important;
    transform: translateY(-0.09rem);
}

/*Splash Page*/

.splash-container {
    background-image: url("../assets/images/MediaSplash.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

.splash-inner {
    width: 50rem;
    height: auto;
    background: linear-gradient(var(--Background), var(--Background-Alt));
    padding: 1.5rem;
    border-radius: .5rem;
    display: none;
}

.splash-title {
    display: flex;
    align-items: center;
}

.splash-title img {
    height: 2.3rem;
    -webkit-filter: drop-shadow(.5rem .5rem .5rem #000);
    filter: drop-shadow(.5rem .5rem .5rem #000);
    margin-right: 1.5rem;
}

.splash-inner .splash-title p {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.95rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    /* font-family: var(--Anton); */
    font-family: 'MartinDisplayBold', Fallback, sans-serif;
    letter-spacing: .05rem;
}

.splash-inner .splash-title span {
    font-weight: 200;
    font-size: 1.6rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    font-family: var(--Antonio);
    padding-left:.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.splash-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width:10rem;
    border-radius: .5rem;
    background-color: var(--Dark-Brown);
    transition: all .3s;
    z-index: 2;
    border:none;
    color: #fff;
    font-family: var(--Bodoni);
    font-size: .8rem;
}

.splash-btn:hover {
    background-color: var(--Background);
    transform: translateY(-0.05rem);
}

/*Adjust splash paragraph text font weight*/

.splash-inner p {
    font-weight: 500 !important;
}

/*End font weight adjustment*/

.splash-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width:10rem;
    border-radius: .5rem;
    background-color: var(--Dark-Brown);
    transition: all .3s;
    z-index: 2;
    border:none;
    color: #fff;
    font-family: var(--Bodoni);
    font-size: .8rem;
    /* margin: 1rem 0; */
}

.splash-btn:hover {
    background-color: var(--Background);
    transform: translateY(-0.05rem);
}

/*End Splash Page*/

/*Side Panel Button*/

.panel-button {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    z-index: 2
}

.panel-btn {
    cursor: pointer;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 2rem;
    left:2rem; */
    height:2.5rem;
    width:2.5rem;
    border-radius: 50%;
    background-color: var(--Dark-Brown);
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.6);
    transition: all .3s;
    z-index: 2;
}

.panel-btn i {
    font-size: 1.3rem;
    color: #fff;
}

.panel-btn:hover {
    background-color: var(--Dark-Brown) !important;
    transform: translateY(-0.09rem);
}

.panel-btn.on {
    background-color: var(--Background-Blue);
}

/*Side Panel*/

.side-panel {
    position: fixed;
    top: 5rem;
    left: 0;
    height: 60%;
    width: 32rem;
    background: linear-gradient(var(--Background-Blue), var(--Background-Blue-Alt));
    z-index: 2;
    border-radius: 0 .25rem .25rem 0;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, 0.3);
    padding: 1rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.side-panel.on {
    left: -33rem;
}

.title-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-logo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.title-logo img {
    height: 1.7rem;
}

.title-close i {
    font-size: 1.2rem;
    color: var(--Dark-Brown);
    cursor: pointer;
    transition: all 0.3s;
}

.title-close i:hover {
    color: var(--Background);
    transform: translateY(-0.09rem);
}

.side-panel-text,
.help-panel-text {
    width: 100%;
    max-height: 91%;
    overflow-y: auto;
    padding-right: 1rem;
}

.panel-line {
    width: 100%;
    height: 2px;
    background-color: var(--Maroon);
    margin: .5rem 0;
    opacity: 0.7;
    border-radius: 99px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.title-close h3,
.modal-inner h3,
.splash-inner h3 {
    color: var(--Dark-Brown);
    letter-spacing: .15rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: default;
}

.side-panel-text p,
.modal-inner p,
.help-panel p,
.splash-inner p,
.model-transcript-text p,
#img-caption {
    font-family: var(--Bodoni);
    font-size: 1rem;
    color: var(--Dark-Brown);
    margin: .75rem 0;
    font-weight: 400;
    line-height: 1.35rem;
    letter-spacing: .02rem;
    cursor: default;
}

.side-panel-text img {
    width: 100%;
    border-radius: .25rem;
    margin: 1.2rem 0;
    transition: opacity .3s;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.side-panel-text img:hover {
    opacity: 0.9;
}

/*End Side Panel*/

/*About Panel*/

.help-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2.5rem;
    width:2.5rem;
    border-radius: 50%;
    background-color: var(--Background-Blue);
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.6);
    transition: all .3s;
    z-index: 2;
}

.help-btn i {
    font-size: 1.3rem;
    color: #fff;
}

.help-btn:hover {
    background-color: var(--Dark-Brown);
    transform: translateY(-0.09rem);
}

.help-btn.on {
    background-color: var(--Dark-Brown);
}

.help-panel {
    position: fixed;
    top: 5rem;
    right: -26rem;
    height: 65%;
    width: 25rem;
    background: linear-gradient(var(--Background-Blue), var(--Background-Blue-Alt));
    z-index: 2;
    border-radius: .25rem 0 0 .25rem;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, 0.3);
    padding: 1rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.help-panel.on {
    right: 0;
}

.about-newspaper-coverage,
.about-radio-coverage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-newspaper-coverage img,
.about-radio-coverage img {
    width: 3rem;
    margin-right: 1rem;
}

.help-footnote {
    margin-top: 3rem;
}

.help-footnote p {
    font-family: var(--Bodoni);
    font-size: .8rem;
    color: var(--Dark-Brown);
    font-weight: 400;
    cursor: default;
}

/***End About Panel***/

/***About Modal***/

.modal-container {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    position: absolute;
    display: none;
}

.modal-inner {
    width: 50rem;
    /* height: 30rem; */
    height: auto;
    background: linear-gradient(var(--Background-Blue), var(--Background-Blue-Alt));
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    border-radius: .5rem;
}

.modal-close {
    color: var(--Dark-Brown);
    font-size: 1.5rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    transition: all 0.3s;
}

.modal-close:hover {
    transform: translateY(-0.09rem);
    color: var(--Background) 
}

.modal-inner img {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

/***End About Modal***/

/***General Popup Styling***/

.popup {
    display: none;
    flex-direction: column;
    /*align-items: center; */
    width: 500px;
    max-height: 80%;
    background: linear-gradient(var(--Background-Blue), var(--Background-Blue-Alt));
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 80px;
    right: 25px;
    z-index: 2;
    border-radius: 5px;
    padding: 20px;
}

.popup-container {
    overflow-y: auto;
}

.popup img {
    width: 100%;
    border-radius: .25rem;
    cursor: pointer;
    object-fit: cover;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    transition: opacity 900ms;
}

.popup img:hover {
    opacity: 0.85;
}

.popup .panel-line {
    margin: 0;
}

.article {
    font-family: var(--Anton);
    color: var(--Dark-Brown);
    letter-spacing: .2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: .5rem 0;
    text-transform: uppercase;
    cursor: default;
}

.article-container {
    display: flex;
    justify-content: center;
}

.newspaper {
    font-family: var(--Bodoni);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--Dark-Brown);
    padding: .5rem 0;
    cursor: default;
}

.place,
.date {
    font-family: var(--Bodoni);
    font-size: 1rem;
    font-weight: 600;
    color: var(--Dark-Brown);
    padding-bottom: .15rem;
    cursor: default;
}

.place-date-container {
    display: flex;
}

.popup-close {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: .5rem;
}

.popup-close i {
    font-size: 1.2rem;
    color: var(--Dark-Brown);
    cursor: pointer;
    transition: all 0.3s;
}

.popup-close i:hover {
    color: var(--Background);
    transform: translateY(-0.09rem);
}

.details {
    font-family: var(--Bodoni);
    font-size: 1rem;
    font-weight: 400;
    color: var(--Dark-Brown);
    line-height: 1.35rem;
    letter-spacing: .02rem;
    padding-top: .3rem;
    cursor: default;
}

/*Transcript Section Styling*/

.transcript-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width:10rem;
    border-radius: .5rem;
    background-color: var(--Dark-Brown);
    transition: all .3s;
    z-index: 2;
    border:none;
    color: #fff;
    font-family: var(--Bodoni);
    font-size: .9rem;
    margin: 1rem 0;
}

.transcript-btn:hover {
    background-color: var(--Background);
    transform: translateY(-0.05rem);
}

/*Pagination Styling*/

#pagination-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 0 6rem;
    margin: 1rem 0;
}

.counter-container {
    display: flex;
    width: 6rem;
    justify-content: space-evenly;
}

.counter-container p {
    cursor: default;
    color: var(--Dark-Brown);
}

.paginate-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background-color: var(--Dark-Brown);
    /* box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.6); */
    transition: all .3s;
    z-index: 2;
    border: none;
}

.paginate-btn i {
    font-size: 1rem;
    color: #fff;
}

.paginate-btn:hover {
    background-color: var(--Background);
    transform: translateY(-0.05rem);
}

/*Audio Player Styling*/

.audio-player {
    background: rgba(201, 201, 201, 0.9);
    padding: .75rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    height: auto;
    width: 100%;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

#play-pause {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width: 4rem;
    border-radius: .5rem;
    background-color: var(--Dark-Brown);
    transition: all .3s;
    border:none;
    color: #fff;
    font-family: var(--Bodoni);
    font-size: .8rem;
    /* margin: 1rem 0; */
}

#play-pause:hover {
    background-color: var(--Background);
    transform: translateY(-0.05rem);
}

.progress-container {
    width: 50%;
    height: 8px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    position: relative;
}

.progress {
    background: var(--Dark-Brown);
    height: 100%;
    width: 0%;
    border-radius: 1rem;
}

#timer {
    font-family: var(--Bodoni);
    font-size: .8rem;
    color: var(--Dark-Brown);
    cursor: default;
}

/***End General Popup Styling***/